# OS / IDE
.DS_Store
.idea
.vscode/

# Python
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.env

# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform/
.terraform.lock.*

# dbt artifacts
target/
dbt_packages/
dbt_modules/
logs/
*.log

# Credentials
*.json
!package.json

# Data artifacts
data/
*/data/
*.parquet
*.csv

# Docker volumes
ny_taxi_postgres_data/
